@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Archivo Bold';
  src: url('/fonts/Archivo-Bold.woff2') format('woff2'),
      url('/fonts/Archivo-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron Regular';
  src: url('/fonts/Orbitron-Regular.woff2') format('woff2'),
      url('/fonts/Orbitron-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiBold';
  src: url('/fonts/Archivo-SemiBold.woff2') format('woff2'),
      url('/fonts/Archivo-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Regular';
  src: url('/fonts/Archivo-SemiBold.woff2') format('woff2'),
      url('/fonts/Archivo-SemiBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiBoldItalic';
  src: url('/fonts/Archivo-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/Archivo-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraBold';
  src: url('/fonts/Archivo-ExtraBold.woff2') format('woff2'),
      url('/fonts/Archivo-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraBold';
  src: url('/fonts/Archivo-ExtraBold.woff2') format('woff2'),
      url('/fonts/Archivo-ExtraBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-Light.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-Black.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-Regular.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Light.woff2') format('woff2'),
      url('/fonts/Archivo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-Bold.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-ExtraLight.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-Thin.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Black.woff2') format('woff2'),
      url('/fonts/Archivo-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Thin.woff2') format('woff2'),
      url('/fonts/Archivo-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-ExtraBold.woff2') format('woff2'),
      url('/fonts/Archivo-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-Regular.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Medium.woff2') format('woff2'),
      url('/fonts/Archivo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-Thin.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-SemiBold.woff2') format('woff2'),
      url('/fonts/Archivo-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-Thin.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Regular.woff2') format('woff2'),
      url('/fonts/Archivo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-ExtraBold.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-BlackItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-Black.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-SemiBold.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-Regular.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Bold.woff2') format('woff2'),
      url('/fonts/Archivo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-ExtraLight.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-SemiBold.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-Medium.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-Medium.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-ThinItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-MediumItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-BoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-Regular.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-ExtraLight.woff2') format('woff2'),
      url('/fonts/Archivo-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-ExtraLight.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-LightItalic.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-Black.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-SemiBold.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-ExtraLight.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-Light.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-Bold.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-Bold.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-Medium.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-SemiBold.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-Bold.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-ExtraBold.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-Light.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-MediumItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-ExtraLight.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-Light.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-ExtraLightItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-Italic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-ExtraBold.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-BoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-MediumItalic.woff2') format('woff2'),
      url('/fonts/Archivo-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-LightItalic.woff2') format('woff2'),
      url('/fonts/Archivo-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Italic.woff2') format('woff2'),
      url('/fonts/Archivo-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-LightItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-BoldItalic.woff2') format('woff2'),
      url('/fonts/Archivo-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-BlackItalic.woff2') format('woff2'),
      url('/fonts/Archivo-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-ExtraLightItalic.woff2') format('woff2'),
      url('/fonts/Archivo-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/Archivo-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/Archivo-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-ExtraBold.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-Black.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-Thin.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-ThinItalic.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-Thin.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-BoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-Black.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-Regular.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-Light.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-SemiBold.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-Medium.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-Medium.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-Italic.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-ThinItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-MediumItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-Italic.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-ExtraLightItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-LightItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-BoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-BlackItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-Italic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-ThinItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-MediumItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-ThinItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  src: url('/fonts/ArchivoSemiExpanded-BlackItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiExpanded-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-LightItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-ThinItalic.woff2') format('woff2'),
      url('/fonts/Archivo-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-Bold.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-MediumItalic.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-BlackItalic.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('/fonts/ArchivoExpanded-ExtraBold.woff2') format('woff2'),
      url('/fonts/ArchivoExpanded-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-BlackItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-ExtraLightItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-Italic.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Condensed';
  src: url('/fonts/ArchivoCondensed-ExtraLightItalic.woff2') format('woff2'),
      url('/fonts/ArchivoCondensed-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo ExtraCondensed';
  src: url('/fonts/ArchivoExtraCondensed-LightItalic.woff2') format('woff2'),
      url('/fonts/ArchivoExtraCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiCondensed';
  src: url('/fonts/ArchivoSemiCondensed-BoldItalic.woff2') format('woff2'),
      url('/fonts/ArchivoSemiCondensed-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left;
}

button,
a {
  cursor: pointer;
}
a {
  text-decoration: none;
}
*:focus {
  outline: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a&:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
body {
  margin: 0;
  color: initial;
}
img {
  border-style: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  max-width: unset;
}

svg:not(:root) {
  overflow: unset;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: none;
}
a[href^="tel"] {
  color: inherit; /* Inherit text color of parent element. */
  text-decoration: none; /* Remove underline. */
  /* Additional css `propery: value;` pairs here */
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="text"],
[type="email"],
textarea {
  -webkit-appearance: none;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: none;
}
fieldset {
  border: 1px solid silver;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: none;
  font: inherit;
}
* {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: 0;
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
li > ul {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: 0;
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}
pre code {
  background: none;
  line-height: 1;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: 0;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

* {
  box-sizing: border-box;
}

.mt-4 {
  margin-top: unset;
}


/* .mktoForm input {
  all: unset !important;
} */

/* .pin-spacer {
  width: 0 !important;
} */
